.hero-section {

    background-size: cover;

    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .hero-content {
   /*max-width: 800px; */
    padding: 20px;
  }